/*
Colors used:
Primary Color (Blue): #1f363d;
Secondary Color (Green): #9ec1a3;

selector {
  margin: 0 auto;
  } /* No spacing to top and bottom and auto spacing to left and right
display: block, inline-block, inline, none

selector {
  position: relative, absolute, fixed, static;
}

selector {
  float: right, left, inherit, none;
}

selector {
  width: 1200px or 80%; - height and width only works for display: inline-block and block
} an element’s total width is defined as width + padding + border

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
By using this ID, you’ll only apply styling to elements with both the work ID and the row class.

* {
  box-sizing: border-box;
}
Small screens up to 640px; including most mobile screen sizes
Medium screens up to 1024px; including large mobile and most tablets
Large screen sizes up to 1440px; including large tablets and most laptops/desktops
Extra large screens of 1441px and up; for all larger screen sizes

Transition states -
transition-property:
transition-duration:
transition-timing-function:
transition-delay:
 */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  /*font-family:*/
  line-height: 1.4;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #356473;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #356473;
}

a:hover, a:focus {
  color: #85A9B5;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #334D4A;
}

header {
  background-color: #B9CED5;
  padding: 10px 5px;
  /* margin: 10px;
  border: 3px solid #4a4a4a; */
  text-align: center;
  position: fixed;
  box-shadow: -1px 8px 5px 0px rgba(50, 50, 50, 0.44);
  width: 100%;
}
.logo {
  max-width: 35px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 800;
}

nav>ul>li>a:visited {
  color: #356473;
}

nav>ul>li>a:active {
  color: #85A9B5;
}

nav>ul>li>a:hover, focus {
  color: #2F5966;
  text-decoration: underline;
}

#hero {
  background-color: #B9CED5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  /* margin: 10px;
  border: 3px solid #4a4a4a;*/
}

#hero h1 {
  text-align: center;
}
#hero h1 span {
  display: block;
}

main {
  padding-top: 134px;
}
/*
.research img {
  max-width: 75%;
  margin: 0 auto
}
*/
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0px 10px 0px;
}
footer a {
  color:#fff;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default */
  background-color: #CFE0C3;
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #334D4A;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #A6C6AB !important;
  text-transform: uppercase;
  border: 2px solid #A6C6AB;
}

.button.contact:hover {
  background-color: #CFE0C3;
  color: #ffffff !important;
}
.sun{
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.cloud-front{
  animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-back{
  animation: 34s cloud-move-reverse infinite alternate linear;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.social>ul {
  list-style-type: none;
  padding: 0;
}

.fa-linkedin {
  font-size: 2em;
}

@media only screen and (min-width: 640px) {
  header {
   text-align: unset;
   padding: 20px 0 13px;
 }
 nav {
   width: auto;
   float: right;
   margin-top: 4px;
 }

 main {
   padding: 94px;
 }
 .col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1440px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
}
